/* #region Variables */

:root {
    --body-bg-color: rgba(238, 235, 229, 0.562);
    --header-bg-color: white;
    --products-bg-color: white;
    --primary-text-color: black;
    --footer-bg-color: rgb(37, 37, 37);
    --footer-text-color: white;
}

/* #endregion */


/* #region Resets */

body {
    background-color: var(--body-bg-color);
    margin: 0;
    box-sizing: border-box;
}

h1, p, a, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* #endregion */


/* Text */

html {
    font-family:Arial, Helvetica, sans-serif;
}

h1, p {
    color: var(--primary-text-color);
}

h1 {
    font-size: 2.8em;
    line-height: 2.5em;
}

p {
    font-weight: bolder;
    line-height: 2em;
    margin-top: 0.8em;
}

b {
    font-weight: normal;
}

a {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 1.25em;
}

small {
    font-size: large;
}


/* #region Header, Footer & Navigation */

header, footer {
    height: 6em;
    margin: 1.5em 3em;
    display: flex;
    align-items: center;
}

header {
    background-color: var(--header-bg-color);
    border: solid 1px var(--header-bg-color);
    border-radius: 1em;
    padding-left: 3.5em;
    gap: 3em;
}

header img,
footer img {
    width: 9.5em;
    height: auto;
}

nav ul {
    display: flex;
    /* justify-content: flex-start; */
    gap: 3em;
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    justify-content: center;
    border: solid 1px var(--footer-bg-color);
    border-radius: 3em;
    padding: 0 20em;
    gap: 2.5em;
}

/* #endregion */



/* Main content */

main {
    margin: 0 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2em 0;
}

.article_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em 1em;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: auto;
    width: 100%; */
}

.product_container {
    border: solid 1px var(--products-bg-color);
    border-radius: 1em;
    background-color: var(--products-bg-color);
    width: 20em;
    height: 20em;
    display: grid;
    place-items: center;
}

section {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr 1fr;
}