/* #region Variables */

:root {
    --body-bg-color: rgb(255, 251, 245);
    --header-bg-color: white;
    --products-bg-color: white;
    --primary-text-color: black;
    --footer-bg-color: rgb(37, 37, 37);
    --footer-text-color: white;
}

/* #endregion */


/* #region Resets */

body {
    background-color: var(--body-bg-color);
    margin: 0;
    box-sizing: border-box;
    /* width: 100%; */
}

/* #endregion */


/* Text */

h1, p {
    color: var(--primary-text-color);
}



/* Layout */

header {
    background-color: var(--header-bg-color);
    border: solid 1px black;
    height: 6em;
    margin: 1.5em 3em;
    display: flex;
    align-items: center;
}

header .logo_wrapper {
    margin: 0 3em 0 3.5em;
}

header img {
    width: 10em;
}

header nav {
    width: 100%;
    /* margin: 0 auto; */
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    height: 6em;
    display: flex;
}



/* #region Navigation */

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 3em;
}

nav li a {
    font-size: 1.25em;
    text-decoration: none;
    color: var(--primary-text-color);
}

/* #endregion */


/* Main content */

main {
   /*  max-width: 100%; */
    margin: 0 10em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article_wrapper article {
    height: auto;
    width: 100%;
}

.product_container {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 1em;
    background-color: var(--products-bg-color);
    width: 18em;
    height: 18em;
}



/* Footer content */
